.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0 ;
    
}

.menu-item:not(:last-of-type) {
    border-bottom: 1px solid rgb(204, 204, 204);
}

.menu-info h2 {
    margin: 0;
    font-size: 1em;
}

.menu-info p {
    font-size: .8em;
    font-style: italic;
    margin: .5em 0;
}

.menu-info span {
    font-weight: bold;
    color: rgba(170, 42, 10, 0.842);
}

