.form-control {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 1.5em;
}

.input {
    padding: 1em;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 5px;
    
}

.input:focus {
    outline: purple 1px solid;
    border: none;
    background-color: rgba(128, 0, 128, 0.247);
}

.form-control.invalid .input:focus,
.form-control.invalid .input{
    background-color: rgba(228, 101, 101, 0.329);
    border: none;
    outline: red 1px solid;
}

.form-control p {
    margin: 0;
}

.error-text {
    color: red;
}