.bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
    z-index: 3;
}

.cart-list {
    background-color: white;
    width: 40%;
    padding: 1em;
    list-style-type: none;
    border-radius: 5px;
    cursor: default;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -80%);
    z-index: 5;
}

.cart-list > h1 {
    color: black;
    text-align: center;
}

